* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/**********************************/
/* 0. Variaveis
/* 1. Estilos gerais
/* 2. Top Title
/* 3. Dropdown-Navigation
/* 4. Containers
/* 5. images
/* 6. Footer
/* 7. Link-Topo
/* 8. Responsive-Image
/* 9. Responsive-Logo
/* 10. Responsive-Container
/* 11. Card-Teste
/**********************************/

/**********************************/
/* 0. Variaveis
/**********************************/

:root {
    --var-soft-blue: #fff;
    --var-cyan: hsl(178, 100%, 50%);

    --var-main-darkest: #2d2a2a;
    --var-card-dark: #212020;
    --var-line-gradient: linear-gradient(to right, #af6b04, #f7d488);
    --var-lightest: white;

    --var-heading: normal normal 600 1.5em/1.6em 'Quicksand';

    --var-small-heading: normal normal 400 1em/1em 'Quicksand';

    --var-para: normal normal 300 1em/1.55em 'Quicksand';
}

/**********************************/
/* 1. Estilos Gerais
/**********************************/

html {
    scroll-behavior: smooth;
}

body {
    height: 100%;
    background-color: #2d2a2a;
}

body::before {
    content: "";
    display: block;
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(images/bebidas2.jpg) center center no-repeat fixed;
    background-size: cover;
    opacity: 0.6;
}

img {
    width: 100%;
    border-radius: 15px;
    display: block;
}

h2 {
    font: var(--var-small-heading);
    color: var(--var-lightest);
}

p {
    font: var(--var-para);
    color: var(--var-soft-blue);
}

span {
    color: white;
}

p, h1, h2, h3 {
    color: #fff;
}

ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;
    margin: 0;
    max-width: 100%;
}

footer {
    width: 100%;
    height: 12rem;
    background-color: #2d2a2a;
    opacity: .8;
    border-style: solid;
    border: none;
    box-shadow: 0 0 0 2px #D19B3E, 0 0 0 3px #FCD926;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}

a {
    text-decoration: none;
    color: #fff;
}

span {
    font-weight: bold;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #1e1e1e;
    border-radius: 30px;
}

::-webkit-scrollbar-thumb {
    background: #999;
    border-radius: 30px;
}

/**********************************/
/* 2. Top Title
/**********************************/

.img-logo {
    width: 300px;
    margin: 0 auto;
    display: block;
    margin-top: 2rem;
}

.title-container {
    letter-spacing: 6px;
    font-family: 'Quicksand';
    font-weight: bold;
}

/**********************************/
/* 3. Dropdown-Navigation
/**********************************/

.input-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.searchbar {
    position: absolute;
    top: 0;
    right: 0;
    float: right;
    margin-right: 23rem;
    margin-bottom: 2rem;
    margin-top: 2rem;
}

.searchbar input[type=text]{
    text-indent: 10px;
    height: 30px;
    width: 600px;
    border: none;
    border-radius: 8 px px 8;
}

.search {
    padding: 5px;
    height: 20px;
    border-radius: 8px 0 0 8px;
    font-family: 'Quicksand';
    font-size: 15px;
    box-shadow: 11px -180px 50px black;
}

.searchButton {
    width: 35px;
    height: 30px;
    border: 1px solid #FCD926;
    background: #FCD926;
    text-align: center;
    color: #fff;
    border-radius: 0 8px 8px 0;
    cursor: pointer;
    font-size: 20px;
}

.navigation {
    width: 100%;
    max-height: 70px;
    background-color: #1e1e1e;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    box-shadow: 0 0 0 1px #FCD926, 0 0 0 2px #D19B3E;
    margin-top: 7rem;
}

.nav-logo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100px;
    float: left;
    margin: 0 0 0 400px;
    margin-top: .5rem;
    box-shadow: 11px -180px 50px 1e1e1e;
}

.dropbtn {
    background-color: #1e1e1e;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    font-family: 'Quicksand';
}

.dropdown {
    position: relative;
    display: inline-block;
    margin: 0 5px;
}

.dropdown img {
    position: absolute;
    top: 50%;
    right: -30px;
    transform: translateY(-50%);
}

.dropdown-content a {
    color: inherit;
    text-decoration: none;
    font-size: 16px;
}

.dropdown-button:hover .dropbtn {
    background-color: #FCD926;
    color: #000;
    border-radius: 8px;
}

.dropdown:hover::after {
    content: "";
    position: absolute;
    top: 43px;
    left: 25px;
    border-top: 10px solid transparent;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #FCD926;
}

.dropdown-content {
    margin-top: 0.5rem;
    display: none;
    position: absolute;
    background-color: #FCD926;
    min-width: 180px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    font-family: 'Quicksand';
}

.dropdown-content a {
    color: #000;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    margin-top: .1rem;
}

.dropdown-content:first-of-type {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.dropdown-content:last-of-type {
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.dropdown-content:not(:first-of-type):not(:last-of-type) {
    border-radius: 0;
}

.dropdown-content a:first-of-type {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
} 

.dropdown-content a:last-of-type {
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.dropdown-content a:not(:first-of-type):not(:last-of-type) {
    border-radius: 0;
}

.dropdown-content a:hover {background-color: #D19B3E}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #FCD926;
    color: #000;
    border-radius: 8px;
}

/**********************************/
/* 4. Container
/**********************************/

.container {
    width: 100%;
    display: flex;
    align-items: center;
}

.sidebyside {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 0 auto;
    flex-wrap: wrap;
}

.container-cube {
    background-color: #1e1e1e;
    border-radius: 3px;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    border: 2px solid;
    box-shadow: 0 0 0 1px #FCD926, 0 0 0 2px #D19B3E;
    width: 20em;
    height: 5em;
}

.container-beer {
    flex-basis: 100%;
    flex: 1;
    background-color: #2d2a2a;
    border-radius: 3px;
    align-items: center;
    margin-top: 4rem;
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    border: 2px;
    border-style: solid;
    border-color: #fff;
    max-width: 28rem;
    height: 12rem;
}

.container-content{
    text-transform: none;
    text-align: center;
    font-family: 'Quicksand';
    font-size: 1.2em;
    flex-direction: column;
}

.container-content p {
    margin-top: 1.4rem;
}

.container-pack {
    max-width: 28rem;
}

.container-pack li {
    display: block;
    width: 100%;
}

.conainer-beer li{
    display: block;
    width: 100%;
}

.container-cube:nth-child(1), .container-beer{
    height: auto;
    /*max-height: 40rem;
    overflow-y: scroll;*/
    margin: 2rem auto;
}

/**********************************/
/* 5. Images
/**********************************/

.container-content img {
    /*width: 18rem;*/
    margin-top: 5rem;
    max-width: 100%;
    height: auto;
}

.container-content .packs:first-child {
    position: absolute;
    top: 20rem;
    left: 10rem;
}

.container-content .packs:nth-child(2) {
    position: absolute;
    top: 30rem;
    right: 10rem;
}

.container-content .packs:last-child {
    position: absolute;
    left: 10rem;
    top: 45rem;
}

/**********************************/
/* 6. Footer
/**********************************/

.footer-content {
    height: 2rem;
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    vertical-align: middle;
}

.footer-content p {
    color: #fff;
    font-size: 1.2rem;
    opacity: 1;
}

.footer-content p:first-child {
    margin-top: 1rem;
    margin-bottom: 3rem;
}

.footer-content a {
    text-decoration: none;
    color: #999;
}

/**********************************/
/* 7. Link Topo
/**********************************/

#link-topo {
    position: fixed;
    right: 3rem;
    bottom: 3rem;
    width: 3rem;
    height: 3rem;
    background: #999;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.6;
    color: #fff;
    border-radius: 100%;
    text-decoration: none;
    animation: bounce-bottom 2s ease-in-out infinite alternate-reverse;
    box-shadow: 0 0 0 2px #D19B3E, 0 0 0 3px #FCD926;
}

@keyframes bounce-bottom {
    to {
        transform: translateY(10px);
        animation-timing-function: ease-in;
        
    }
    from {
        transform: translateY(0px);
        animation-timing-function: ease-out;
    }
}

/**********************************/
/* 8. Responsive-image
/**********************************/

@media (max-width: 1180px) {
    .container-content img {
        display: none;
    }
}

@media (max-width: 1600px) {
    .container-content img {
        margin-left: -1rem;
        margin-right: -1rem;
        width: 22rem;
    }
}

@media (max-width: 1500px) {
    .container-content img {
        margin-left: -2rem;
        margin-right: -2rem;
        width: 22rem;
    }
}

@media (max-width: 1400px) {
    .container-content img {
        margin-left: -4rem;
        margin-right: -4rem;
        width: 22rem;
    }
    .container-content .packs:nth-child(2) {
        top: 32rem;
    }
    .container-content .packs:last-child {
        top: 50rem;
    }
}

@media (max-width: 1300px) {
    .container-content img {
        margin-left: -20rem;
        margin-right: -20rem;
        width: 50rem;
    }
    .container-content .packs:nth-child(2) {
        top: 34rem;
    }
    .container-content .packs:last-child {
        top: 50rem;
    }
}

@media (max-width: 1200px) {
    .container-content img {
        margin-left: -45rem;
        margin-right: -45rem;
        width: 100rem;
    }
}

@media (max-width: 750px) {
    .footer-content a:last-child {
        font-size: 10px;
    }
}

/**********************************/
/* 9. Responsive-logo
/**********************************/

@media (max-width: 1600px) {
    .container-content img {
        margin-left: -1rem;
        margin-right: -1rem;
        width: 22rem;
    }
}

@media (max-width: 1500px) {
    .container-content img {
        margin-left: -2rem;
        margin-right: -8rem;
        width: 22rem;
    }
}

@media (max-width: 1400px) {
    .container-content img {
        margin-left: -4rem;
        margin-right: -8rem;
        width: 22rem;
    }
    .container-content .packs:nth-child(2) {
        top: 32rem;
    }
    .container-content .packs:last-child {
        top: 50rem;
    }
}

@media (max-width: 1310px) {
    .container-content img {
        margin-top: 18rem;
        margin-left: -1.5rem;
        margin-right: -10em;
        width: 25rem;
    }
    .container-content .packs:nth-child(2) {
        top: 34rem;
    }
    .container-content .packs:last-child {
        top: 47rem;
    }
}

@media (max-width: 1300px) {
    .container-content img {
        margin-top: 18rem;
        margin-left: -1.5rem;
        margin-right: -18em;
        width: 35rem;
    }
    .container-content .packs:nth-child(2) {
        top: 34rem;
    }
    .container-content .packs:last-child {
        top: 47rem;
    }
}

@media (max-width: 1200px) {
    .container-content img {
        margin-left: -1.5rem;
        margin-right: -40em;
        width: 65rem;
    }

    .searchbar {
        margin-right: 15rem;
    }

    .searchbar input[type=text]{
        width: 500px;
    }

    .nav-logo {
        margin: 0 0 0 300px;
    }
}

/**********************************/
/* 10. Responsive-container
/**********************************/

@media (max-width: 1440px) {
    .searchbar input[type=text]{
        width: 450px;
    }

    .nav-logo {
        margin: 0 0 0 450px;
    }
}

@media (max-width: 1400px) {
    .searchbar input[type=text]{
        width: 400px;
    }

    .nav-logo {
        margin: 0 0 0 400px;
    }
}

@media (max-width: 1300px) {
    .searchbar input[type=text]{
        width: 350px;
    }

    .nav-logo {
        margin: 0 0 0 350px;
    }
}

@media (max-width: 1185px) {
    .searchbar input[type=text]{
        width: 350px;
    }
}

@media (max-width: 1135px) {
    .nav-logo {
        margin: 0 0 0 250px;
    }
}

@media (max-width: 1100px) {
    .searchbar input[type=text]{
        width: 400px;
    }

    .nav-logo {
        margin: 0 0 0 220px;
    }
}

@media screen and (max-width: 1000px) {
    .sidebyside {
        flex-direction: column;
    }

    .searchbar {
        margin-right: 12rem;
    }

    .searchbar input[type=text]{
        width: 300px;
    }

    .nav-logo {
        margin: 0 0 0 250px;
    }
}

@media screen and (max-width: 890px) {
    .sidebyside {
        flex-direction: column;
    }

    .searchbar input[type=text]{
        width: 250px;
    }

    .nav-logo {
        margin: 0 0 0 220px;
    }
}

@media screen and (max-width: 800px) {
    .sidebyside {
        flex-direction: column;
    }

    .searchbar {
        margin-right: 12rem;
    }

    .searchbar input[type=text]{
        width: 200px;
    }

    .nav-logo {
        margin: 0 0 0 200px;
    }
}

@media only screen and (max-width: 767px) {
    .container-cube:nth-child(2) {
        width: 70%;
    }

    .container-content {
        font-size: 0.8em;
    }

    body {
        background-size: 300%;
    }

    .container-beer {
        height: 40rem;
        width: 21rem;
    }

    .container-pack{
        height: 40rem;
        width: 21rem;
    }

    .footer-content p{
        font-size: 0.6rem;
    }

    .searchbar {
        /*position: fixed;*/
        margin-right: 12rem;
    }

    .searchbar input[type=text]{
        width: 200px;
    }

    .nav-logo {
        margin: 0 0 0 200px;
        /*position: fixed;*/
    }

    .img-logo {
        margin-top: 6rem;
    }
}

@media only screen and (max-width: 730px) {
    .searchbar {
        margin-right: 10rem;
    }

    .searchbar input[type=text]{
        width: 200px;
    }

    .nav-logo {
        margin: 0 0 0 200px;
    }
}

@media only screen and (max-width: 695px) {
    .searchbar {
        margin-right: 8rem;
    }

    .searchbar input[type=text]{
        width: 200px;
    }

    .nav-logo {
        margin: 0 0 0 150px;
    }
}

@media only screen and (max-width: 650px) {
    .searchbar {
        margin-right: 8rem;
    }

    .searchbar input[type=text]{
        width: 200px;
    }

    .nav-logo {
        margin: 0 0 0 130px;
    }
}

@media only screen and (max-width: 620px) {
    .searchbar {
        margin-right: 7rem;
    }

    .searchbar input[type=text]{
        width: 200px;
    }

    .nav-logo {
        margin: 0 0 0 110px;
    }
}

@media only screen and (max-width: 600px) {
    .searchbar {
        margin-right: 7rem;
    }

    .searchbar input[type=text]{
        width: 200px;
    }

    .nav-logo {
        margin: 0 0 0 80px;
    }
}

@media only screen and (max-width: 560px) {
    .searchbar {
        margin-right: 7rem;
    }

    .searchbar input[type=text]{
        width: 200px;
    }

    .nav-logo {
        margin: 0 0 0 60px;
    }
}

@media only screen and (max-width: 520px) {
    .searchbar {
        margin-right: 6rem;
    }

    .searchbar input[type=text]{
        width: 200px;
    }

    .nav-logo {
        margin: 0 0 0 60px;
    }
}

@media only screen and (max-width: 490px) {
    .searchbar {
        margin-right: 6rem;
    }

    .searchbar input[type=text]{
        width: 180px;
    }

    .nav-logo {
        margin: 0 0 0 40px;
    }
}

@media only screen and (max-width: 450px) {
    .searchbar {
        margin-right: 7rem;
    }

    .searchbar input[type=text]{
        width: 140px;
    }

    .nav-logo {
        margin: 0 0 0 20px;
    }
}

@media only screen and (max-width: 415px) {
    .searchbar {
        margin-right: 6rem;
    }

    .searchbar input[type=text]{
        width: 150px;
    }

    .nav-logo {
        margin: 0 0 0 10px;
    }
}

@media only screen and (max-width: 360px) {
    .searchbar {
        margin-right: 6rem;
    }

    .searchbar input[type=text]{
        width: 150px;
    }

    .nav-logo {
        margin: 0 0 0 0px;
    }
}

@media only screen and (max-width: 320px) {
    .searchbar {
        margin-right: 5.5rem;
    }

    .searchbar input[type=text]{
        width: 150px;
    }

    .nav-logo {
        margin: 0 0 0 0px;
    }
}

@media (max-width: 767px) {
    .navigation {
        display: none;
    }

    .hamburguer {
        display: block;
    }

}

@media (min-width: 768px) {
    .container-menu {
        display: none;
    }
}
